body
{

 background-color:rgb(162, 9, 250);

}
p
{
    background-color:rgb(9, 174, 250);
    text-align : center;
    font-size:30px;
    border-style: double;

}
H1
 {
   text-decoration: rgb(165, 42, 42);
    text-align: center;
    font-size:30px;
    border-style: double;
    background-color:rgb(9, 250, 101)

    
}
#unordered
{
    list-style-type: square;
    border-style: solid;
    font-size: xx-large;
}


